@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { 
    @apply bg-slate-950 text-slate-200 font-sans;
  }
  
  /* Custom Scrollbar */
  ::-webkit-scrollbar { 
    width: 8px; 
  }
  ::-webkit-scrollbar-track { 
    @apply bg-slate-900; 
  }
  ::-webkit-scrollbar-thumb { 
    @apply bg-slate-700 rounded; 
  }
  ::-webkit-scrollbar-thumb:hover { 
    @apply bg-slate-600; 
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded-full;
  }
}